//Colors

//Primary
$strongCyan: hsl(172, 47%, 45%);
$strongCyanOp: rgb(129, 219, 215);

//Neutral
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyanOp: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyanOp: hsl(189, 41%, 97%);
$white:hsl(0, 0%, 100%);

// Typography

// Body Copy
$fontInput: 24px;

// Font
$fontPrimary: 'Space Mono';


// Screen sizes


$mobile: 375px;
$tablet: 760px;
$desktop: 1440px;