@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $fontPrimary;
    font-size: $fontInput;
}

body {
    background-color: $lightGrayishCyan;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // NAME OF THE APP
    .splitter {
        color: $veryDarkCyan;
        text-transform: uppercase;
        line-height: 2;
        letter-spacing: 10px;
        margin: 30px;
    }

    .card {
        background-color: $white;
        padding: 3%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // SECTION WITH THE OPTIONS OF THE TIPS
        .calculations {
            padding: 2%;

            .section {
                margin-bottom: 20px;
            }

            // TITLES OF THE INPUTS
            .section-name-text {
                color: $darkGrayishCyan;
                font-size: 16px;
                margin-bottom: 10px;
            }

            // STYLING INPUT SECTIONS
            .input {
                width: 100%;
                padding: 5px 15px;
                border-style: none;
                border-radius: 5px;
                background-color: $lightGrayishCyanOp;
                color: $veryDarkCyan;
                font-size: $fontInput;
                font-weight: 700;
                text-align: right;
            }

            .dollar-sign {
                background-image: url(./images/icon-dollar.svg);
                background-repeat: no-repeat;
                background-position-x: 5%;
                background-position-y: 50%;
            }

            .person-sign {
                background-image: url(./images/icon-person.svg);
                background-repeat: no-repeat;
                background-position-x: 5%;
                background-position-y: 50%;
            }

            // TIP AMOUNT BUTTONS
            .tip-buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .pecentage {
                    width: 45%;
                    border-radius: 5px;
                    border-style: none;
                    font-weight: 700;
                    font-size: 22px;
                    padding: 5px;
                    margin-bottom: 5%;
                }
                    .tip-percent {
                        background-color: $veryDarkCyan;
                        color: $white;
                        cursor: pointer;
                        &:hover {
                            background-color: $strongCyanOp;
                            color: $veryDarkCyan;
                        }
                        &:focus {
                            background-color: $strongCyan;
                            color: $veryDarkCyan;
                        }
                    }

                    .custom {
                        background-color: $lightGrayishCyanOp;
                        color: $veryDarkCyan;
                        text-align: right;
                        cursor: text;
                    }
            }

        }

        // SECTION WITH THE RESULTS
        .total-amount {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $veryDarkCyan;
            border-radius: 10px;
            padding: 10%;

            .counters {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;

                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 15%;

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h1 {
                            color: $lightGrayishCyanOp;
                            font-size: 16px;
                        }

                        p {
                            color: $darkGrayishCyanOp;
                            font-size: 16px;
                        }
                    }

                    .result {
                        color: $strongCyan;
                        font-weight: 700;
                        font-size: 30px;
                    }
                }
            }

            .reset-button {
                text-align: center;
                width: 100%;
                border-radius: 5px;
                border-style: none;
                background-color: $strongCyan;
                color: $veryDarkCyan;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                padding: 10px;
                margin-top: 25px;
                cursor: pointer;

                &:hover {
                    background-color: $strongCyanOp;
                    color: $veryDarkCyan;
                }
                &:focus {
                    background-color: $strongCyan;
                    color: $veryDarkCyan;
                }
            }
        }
    }

}

.attribution {
    position: absolute;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 20px;

    a {
        font-size: 12px;
        text-decoration: none;
        color: $veryDarkCyan;
    }
}

// BREAKPOINT FOR BIGGER SCREENS
@media (min-width: $tablet) {
    .container {
        margin: auto;

        .card {
            margin-top: 2%;
            display: flex;
            flex-direction: row;

            .calculations,
            .total-amount {
                width: 50%;
            }

            .calculations{
                padding-right: 5%;
            }
            .section {
                .tip-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;


                    .pecentage {
                        width: 30%;
                        margin-right: 3%;
                    }
                }
            }

            .total-amount {
                padding: 7%;
.counters{
    .row{
        .result {
            font-size: 36px;
        }
    }
}
                
            }
        }
    }

}

// ACTIVE STATES

//HOVERS 

//ACTIVE